.homepage {
    background: url('../../image/2.2.3.jpg');
    border-radius: 20px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;

}

.instruc{
    color: rgb(7, 146, 146);
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}